@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(0, 0, 0);

  /* mdx */
  --code-block-line-number-color: rgb(107, 114, 128);
  --code-block-highlighted-line-bg-color: #383A420C;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --text-color: 255, 255, 255; */
  }
}

body {
  color: var(--text-color);
}
