@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-primary;
  }
}

:root {
  /* primary */
  /* https://yeun.github.io/open-color/#gray */
  --text-color: rgb(23, 23, 23);
  --border-color: #dee2e6; /* border-primary, gray-3 */

  /* mdx */
  --code-block-line-number-color: rgb(107, 114, 128);
  --code-block-highlighted-line-bg-color: rgba(56 ,58 ,66, 0.1);
  --code-block-inline-code-color: rgb(36, 41, 47);
  --code-block-inline-code-bg-color: rgba(175, 184, 193, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --text-color: 255, 255, 255; */
  }
}

body {
  color: var(--text-color);
}

em {
  font-style: normal;
}