.prose {
	max-width: 100% !important;
}

/* #region headings */
.prose h2,
.prose h3,
.prose h4 {
	@apply font-medium;
}

.prose h2 {
	@apply text-2xl;
}

.prose h3 {
	@apply text-xl;
}

.prose .anchor {
	position: relative;
	text-decoration: none;
}

.prose .anchor::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -20px;
	width: 15px;
	height: 15px;
	transform: translateY(-50%);
	background: no-repeat center center / 100% auto;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.512 3.005c.676-.46 1.531-.468 2.167-.05.144.094.298.244.71.656.412.412.562.566.657.71.417.636.408 1.49-.051 2.167-.105.155-.267.32-.694.747l-.62.619a.5.5 0 0 0 .708.707l.619-.619.043-.043c.37-.37.606-.606.771-.849.675-.994.71-2.287.06-3.278-.159-.241-.39-.472-.741-.823l-.045-.045-.044-.045c-.352-.351-.583-.582-.824-.74-.99-.65-2.284-.616-3.278.06-.243.164-.48.4-.85.77l-.042.043-.619.62a.5.5 0 1 0 .707.706l.62-.618c.426-.427.592-.59.746-.695ZM4.318 7.147a.5.5 0 0 0-.707-.707l-.619.618-.043.043c-.37.37-.606.606-.771.85-.675.993-.71 2.287-.06 3.277.159.242.39.473.741.824l.045.045.044.044c.352.351.583.583.824.741.99.65 2.284.616 3.278-.06.243-.165.48-.401.849-.771l.043-.043.619-.619a.5.5 0 1 0-.708-.707l-.618.619c-.427.427-.593.59-.747.694-.676.46-1.532.469-2.167.051-.144-.094-.298-.245-.71-.657-.412-.412-.562-.566-.657-.71-.417-.635-.408-1.49.051-2.167.105-.154.267-.32.694-.747l.619-.618Zm5.304-1.061a.5.5 0 0 0-.707-.708L5.379 8.914a.5.5 0 1 0 .707.707l3.536-3.535Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	opacity: 0;
	transition: 0.25s;
}

.prose .anchor:hover::after,
.prose .anchor:focus::after {
	opacity: 1;
}
/* #endregion */

.prose hr {
	@apply mb-6 border-primary;
}

.prose hr:last-child {
	display: none;
}

/* #region link */
.prose a:not(.anchor) {
	@apply transition ease-in-out opacity-80 hover:opacity-100;
	position: relative;
	text-decoration-color: var(--text-color);
	transition-duration: 0.25s;
	text-underline-offset: 4px;
}

/* external link */
/* TODO: 중복되는 CSS 코드 리팩터링 */
.prose a:not(.anchor).external-link::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -20px;
	width: 15px;
	height: 15px;
	transform: translateY(-50%);
	background: no-repeat center center / 100% auto;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M3.646 11.354a.5.5 0 0 1 0-.707L10.293 4H6a.5.5 0 0 1 0-1h5.5a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-1 0V4.707l-6.646 6.647a.5.5 0 0 1-.708 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/* #endregion */

/* mark */
.prose mark {
	@apply bg-sky-100 font-medium py-[3px] px-[5px] rounded-sm;
}

/* #region img */
.prose img {
	@apply m-0 border rounded-md;
}

/* img caption */
.prose img + em {
	@apply block mt-1 text-center not-italic;
}
/* #endregion */


/* #region code block */
.prose pre {
	@apply border border-solid p-0;
}

.prose div[data-rehype-pretty-code-title] {
	@apply bg-slate-200 font-semibold px-4 py-3 rounded-tl-md rounded-tr-md;
}

.prose div[data-rehype-pretty-code-title] + pre {
	@apply mt-0 border-t-0 rounded-tl-none rounded-tr-none;
}

/* inline code block */
.prose code:not(pre code) {
	background: var(--code-block-inline-code-bg-color);
	color: var(--code-block-inline-code-color);
	@apply font-semibold py-[3px] px-[5px] rounded-sm;
}

.prose pre code {
	@apply grid py-3;
	counter-reset: line;
}

.prose pre code > span {
	@apply px-3;
}

.prose pre code > span[data-highlighted-line] {
	background-color: var(--code-block-highlighted-line-bg-color);
}

/* #region line numbers */
.prose pre code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: var(--code-block-line-number-color);
}
 
.prose pre code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
.prose pre code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
/* #endregion */
/* #endregion */