.post-toc-wrapper {
	position: relative;
}

.post-toc {
	@apply absolute ml-10 hidden xl:block;
	left: 100%;
}

.post-toc-inner {
	/* TODO: 왜 fixed 잘 적용되는지 모르겠음 */
	@apply border-l pl-3 fixed;
	min-width: 256px;
}

.post-toc-item:not(:first-child) {
	@apply mt-2;
}

.post-toc a {
	@apply hover:underline;
}

.post-toc a[data-level="2"] {
	@apply ml-0;
}

.post-toc a[data-level="3"] {
	@apply ml-3;
}

.post-toc a[data-level="4"] {
	@apply ml-6;
}